{% extends 'template/base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/pikaday.css">
    <style type="text/css">
        #graphHighchart {
            min-width: 320px;
            max-width: 100%;
            margin: 0 auto;
        }

        .container {
            margin-top: 10px;
        }

        .duration_left {
            position: relative;
            right: 0px;
            top: 0px;
            float: right;
            font-size: 15px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <div id="message" class="duration_left js--live-message label label-info" data-type="clock"
             data-time="{{ time }}">00:00:00
        </div>
        <h2>Info</h2>
        <p>
            <b>Nom</b> : {{ bet.name }}<br/>
            <b>Type</b> : {{ bet.answerType.name }}<br/>
            <b>Début</b> : {{ bet.dateCreated|date('d/m/Y H:i:s') }}<br/>
            <b>Durée</b> : {{ bet.pariDurationMinute }} minutes
        </p>
        <h2>Réponses</h2>
        <div class="js--graph-live" id="graphHighchart" data-live-update="{{ inProgress }}" data-bet-id="{{ bet.id }}"
             data-bet-title="{{ bet.name }}">
        </div>
        <div class="row">
            <div class="col-md-6">
                <h2>Gagnant</h2>
            </div>
            <div class="col-md-6">
                <div style="float:right">
                    <div class="onoffswitch">
                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="oneWinner"
                               checked>
                        <label class="onoffswitch-label" for="oneWinner">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <form class="form-inline js--get-winner">
            <div class="form-group">
                <label for="answer">Réponse</label>
                <input type="text" class="form-control" id="answer" data-answer-type="{{ bet.answerType.type }}"
                       placeholder="{{ bet.answerType.placeholder }}">
            </div>
            <button type="submit" class="btn btn-default">Envoyer</button>
        </form>
        <div class="row js--one-winner" style="margin-bottom: 10px; height:400px; width:100%;">
            <div class="js--display-dice" style="display:none; padding-top:20px;height:380px;width:100%;">
            </div>
            <div class="js--display-winner col-sm-12" style="display:none;text-align:center;line-height:400px;width:100%;height:400px;font-size:30px;">Bravo <strong>isak59</strong> !</div>
        </div>
        <div class="row js--all-winners" style="display:none;">
            <table class="table table-hovered table-striped js--table-answer">
                <thead>
                <tr>
                    <th>Pseudo</th>
                    <th>Réponse</th>
                    <th>Distance de la vrai réponse</th>
                    <th>Date</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="/js/highcharts.js"></script>
    <script src="/js/highcharts-more.js"></script>
    <script src="/js/modules/exporting.js"></script>
    <script src="/js/liveTime.js"></script>
    <script src="/js/liveCharts.js"></script>
    <script src="/js/pikaday.js"></script>
    <script type="application/javascript">
        $(function () {
            var form = $('.js--get-winner');
            var tableAnswer = $('.js--table-answer');
            var displayWinner = $('.js--display-winner');
            var displayDice = $('.js--display-dice');
            var addDice = $('.js--add-dice');
            var tableBody = tableAnswer.find('tbody');
            var oneWinner = true;

            var type = form.find('#answer').data('answerType');
            if (type === 'date') {
                new Pikaday({
                    format: 'DD/MM/YYYY',
                    field: form.find('#answer')[0]
                });
            }

            form.on('submit', function (e) {
                e.preventDefault();
                displayDice.hide();
                displayWinner.hide();

                $.post('/ajax/bet/' + {{ bet.id }} +'/winner', {answer: form.find('#answer').val()}, function (data) {
                    if (oneWinner) {
                        displayDice.show();
                        displayDice.html('<div style="margin-left:auto;margin-right:auto;width:480px;height:360px;"><img src="https://media.giphy.com/media/6wRAJMOXqSGCk/giphy.gif"></div>');
                        setTimeout(function () {
                            displayDice.html('');
                            displayDice.hide();
                            displayWinner.show();
                            var winner = data.table[0];
                            displayWinner.html('Bravo <strong>' + winner.username + '</strong> !');
                        }, 9 * 1000);
                    } else {
                        tableBody.html('');
                        if (data.table) {
                            data.table.map(function (e) {
                                tableBody.append('<tr style="background-color: #' + gradient(e.distance, data.minDistance) + ';"><td>' + e.username + '</td><td>' + e.answer + '</td><td>' + e.distance + '</td><td>' + e.date + '</td></tr>');
                            });
                        }
                    }
                });
            });

            $('#oneWinner').on('change', function () {
                if ($(this).is(':checked')) {
                    oneWinner = true;
                    $('.js--one-winner').show();
                    $('.js--all-winners').hide();
                } else {
                    oneWinner = false;
                    $('.js--one-winner').hide();
                    $('.js--all-winners').show();
                }
            })
        });

        function gradient(ratio, minDistance) {
            ratio -= minDistance;
            ratio /= 15;
            if (ratio > 1) {
                ratio = 1;
            }

            var color1 = 'd9534f';
            var color2 = '4cae4c';

            var r = Math.ceil(parseInt(color1.substring(0, 2), 16) * ratio + parseInt(color2.substring(0, 2), 16) * (1 - ratio));
            var g = Math.ceil(parseInt(color1.substring(2, 4), 16) * ratio + parseInt(color2.substring(2, 4), 16) * (1 - ratio));
            var b = Math.ceil(parseInt(color1.substring(4, 6), 16) * ratio + parseInt(color2.substring(4, 6), 16) * (1 - ratio));

            return hex(r) + hex(g) + hex(b);
        }

        function hex(x) {
            x = x.toString(16);
            return (x.length == 1) ? '0' + x : x;
        }
    </script>
{% endblock %}