{% extends 'template/base.html.twig' %}

{% block stylesheets %}
    <style type="text/css">
        #graphHighchart {
            min-width: 320px;
            max-width: 50%;
            margin: 100px auto;
        }
    </style>
{% endblock %}

{% block content %}
    <div id="message" class="js--live-message" data-type="phrase" data-time="{{ time }}" data-now="{{ dateNow }}" style="text-align: center; margin-top:10%; font-size:30px;">
        {% if error %}
            {{ error }}
        {% endif %}
    </div>
    {% if bet %}
        <div id="graphHighchart" data-bet-id="{{ bet.id }}" data-bet-title="{{ bet.name }}" {% if time %}data-live-update="true"{% endif %}>

        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/5.0.14/highcharts.js"
            integrity="sha256-0+x1DGGOm17hg9UnUgTPEIbqpnUYG7+b/P/uYMO13N0="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/5.0.14/js/highcharts-more.js"
            integrity="sha256-v3bnWLik5vm/NQACjS3DMFHqLU0SP8LjU88BfV+4ROI="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/5.0.14/js/modules/exporting.js"
            integrity="sha256-6bZvN9W/+uyWX9vlaZOchNkijOkibejU2Yng54XHG4I="
            crossorigin="anonymous"></script>
    <script src="/js/liveTime.js"></script>
    <script src="/js/liveCharts.js"></script>
{% endblock %}