{% extends 'template/base.html.twig' %}

{% block content %}
    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Type de réponse</th>
                <th>Durée</th>
                <th>Date créée</th>
                <th>Nombre de réponse</th>
            </tr>
            </thead>
            <tbody>
            {% for bet in bets %}
                <tr>
                    <td><a href="{{ path_for('Display_Bet', {betId: bet.id}) }}">{{ bet.name }}</a> {% if bet.inProgress %}<span class="label label-success">In progress</span>{% endif %}</td>
                    <td>{{ bet.answerType }}</td>
                    <td>{{ bet.paridurationminute }}</td>
                    <td>{{ bet.datecreated|date('d/m/Y H:i:s') }}</td>
                    <td>{{ bet.votenumber }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}